@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@theme {
    --default-font-family: "Inter", sans-serif;
    --color-outline: rgba(255, 255, 255, 0.1);
}


html,
body {
    height: 100%;
}

body {
    background: white;
	color: white;
}